<!DOCTYPE html>
<html lang="{{ lang('lang') }}">

<head>
	<title>{{ instance_name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css', version='1') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<style>
</style>
</head>

<body>
    <header>
        <h1><em>Big</em>Jubel</h1>
        <h2>{{ title }}</h2>
    </header>

    {% if get_flashed_messages()|length > 0 %}
    <div class="errors">
        {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {% if anniversary_today %}
    <div class="audio">
        <audio id="sound" src="{{ url_for('static', filename='birthday.mp3') }}" {{ settings["autoplay"] and "autoplay " or "" }}loop></audio>
        <p>
            {{ lang("anniversary today") }}!
            <a onclick="var a=document.getElementById('sound');a.paused?a.play():a.pause()">{{ lang("toggle sound") }}</a>
        </p>
    </div>
    {% endif %}

    {% if jubels|length > 0 %}
    <div class="jubels">
        <table>
            <tr>
                <td>{{ lang("date") }}</td>
                <td>{{ lang("message") }}</td>
            </tr>
            {% for jubel in jubels %}
            <tr class="{{ jubel['yearflag'] and 'yearflag' or '' }} {{ jubel['todayflag'] and 'todayflag' or '' }}">
                <td>{{ jubel["date"] }}</td>
                <td>{{ jubel["message"] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    {% if user_mode > 0 %}
    {% if g.user %}
    {% if user_mode > 1 %}
    <div>
        <p>
            {{ lang("logged in as") }} <em>{{ g.user['username'] }}</em>!
            <a href="{{ url_for('auth.logout') }}">{{ lang("logout") }}</a>
        </p>
    </div>
    {% endif %}

    {% if events|length > 0 %}
    <details class="events">
        <summary>{{ lang("change events") }}...</summary>
    <div>
        <a class="button delete" href="javascript:confirm('{{ lang("delete all")}}?') ? location.href = '{{ url_for('storage.delete_events') }}' : alert('{{ lang("delete all") }} {{ lang("aborted") }}!');">{{ lang("delete all") }}</a>
        <a class="button" href="{{ url_for('storage.sort_events', key='date', rev=0) }}">{{ lang("sort date") }}</a>
        <a class="button" href="{{ url_for('storage.sort_events', key='date', rev=1) }}">{{ lang("sort date rev") }}</a>
        <a class="button" href="{{ url_for('storage.sort_events', key='added', rev=0) }}">{{ lang("sort no") }}</a>
    <ul>
            {% for event in events %}
        <li>
        <a href="{{ url_for('storage.delete_event', eid=event['id']) }}" class="delete"><abbr title="{{ lang("delete") }}">x</abbr></a>
        {{ event['text'] }}
        </li>
            {% endfor %}
    </ul>
    </div>
    </details>
    {% endif %}

    <details class="appendevents">
        <summary>{{ lang("append to events") }}...</summary>
        <form action="{{ url_for('storage.append_events') }}" method="POST">
        <textarea name="value" cols="100" rows="10" placeholder="{{ lang("event example") }}"></textarea>
            <p class="right"><input type="submit" value="{{ lang('accept') }}"/></p>
        </form>
    </details>

	<details class="exportimport">
		<summary>{{ lang("export and import") }}...</summary>
		<div>
			<a class="button right" href="{{ url_for('storage.export_events') }}" download>{{ lang("export events") }}</a>
			<p>{{ lang("export description") }}</p>
			<form action="{{ url_for('storage.import_events') }}" method="POST"
				enctype="multipart/form-data">
				<input id="upload" type="file" name="file">
				<input type="submit" value="{{ lang("import events") }}"/>
			</form>
		</div>
	</details>

    <details class="settings">
        <summary>{{ lang("settings") }}...</summary>
        <form action="{{ url_for('storage.set_settings') }}" method="POST">
            <table>
                {% for label in settings.keys() %}
                <tr>
                    <td>{{ lang(label) }}</td>
                    <td><input type="text" name="{{ label }}" value="{{ settings[label] }}" /></td>
                </tr>
                {% endfor %}
            </table>
            <p class="right"><input type="submit" value="{{ lang('accept') }}"/></p>
        </form>
    </details>

    {% else %}
    <details class="settings">
        <summary>{{ lang("login") }}...</summary>
        <form action="{{ url_for('auth.login') }}" method="POST">
            <table>
                <tr>
                    <td>{{ lang("username") }}</td>
                    <td><input type="text" name="username" value="" /></td>
                </tr>
                <tr>
                    <td>{{ lang("password") }}</td>
                    <td><input type="password" name="password" value="" /></td>
                </tr>
            </table>
            <p class="right"><input type="submit" value="{{ lang('accept') }}"/></p>
        </form>
    </details>

    <details class="settings">
        <summary>{{ lang("register") }}...</summary>
        <form action="{{ url_for('auth.register') }}" method="POST">
            <table>
                <tr>
                    <td>{{ lang("username") }}</td>
                    <td><input type="text" name="username" value="" /></td>
                </tr>
                <tr>
                    <td>{{ lang("email") }}</td>
                    <td><input type="text" name="email" value="" /></td>
                </tr>
                <tr>
                    <td>{{ lang("password") }}</td>
                    <td><input type="password" name="password" value="" /></td>
                </tr>
                <tr>
                    <td>{{ lang("repeat password") }}</td>
                    <td><input type="password" name="repeat" value="" /></td>
                </tr>
            </table>
            <label><input type="checkbox" name="privacy" value="privacy"/> {{ lang("accept privacy") }}
                <a href="/privacy">({{ lang("privacy policy") }})</a></label>
            <p class="right"><input type="submit" value="{{ lang('accept') }}"/></p>
        </form>
    </details>
    {% endif %}
    {% endif %}

    <details class="about">
        <summary>{{ lang("about") }}...</summary>
        <div>
            <img src="{{ url_for('static', filename='diethelm.png') }}" />
            <h3>
                {% if lang("version desktop", placeholder=False, warn=False) %}
                {{ lang("version desktop") }},
                {% endif %}
                {{ lang("version web") }},
                {{ lang("version cli") }}
            </h3>
            {% for c in lang("copyright").split("\n") %}
            <p class="author">{{c}}</p>
            {% endfor %}
            <p><em>{{ lang("license notice") }}</em></p>
            <p>
                <a href="https://www.gnu.org/licenses/gpl-3.0.html">{{ lang("license") }}</a>
                <a href="https://gitlab.com/dkabus/bigjubel/">{{ lang("project homepage") }}</a>
                {% if user_mode > 1 %}
                <a href="/legal">{{ lang("imprint") }}</a>
                <a href="/privacy">{{ lang("privacy policy") }}</a>
                {% endif %}
            </p>
        </div>
    </details>
</body>
</html>
