@import url("reset.css");

body {
    --color-bg: #254441;
    --color-fg: #F8F8F8;
    --color-1: #43AA8B;
    --color-2: #F3A712;
    --color-3: #E4572E;
    --color-4: #A4243B;
    --color-5: #254441;

    --color-dark0: rgba(0, 0, 0, 0.2);
    --color-dark1: rgba(0, 0, 0, 0.3);
    --color-dark2: rgba(0, 0, 0, 0.5);
    --color-dark3: rgba(0, 0, 0, 0.7);
    --color-light0: rgba(255, 255, 255, 0.1);
    --color-light1: rgba(255, 255, 255, 0.2);
    --color-light2: rgba(255, 255, 255, 0.5);
    --color-light3: rgba(255, 255, 255, 0.8);
    --widthmain: 700px;

    font-family: sans-serif;
    background: var(--color-bg);
    color: var(--color-fg);

    font-size: 14px;
    margin: 0;
    padding: 1em;
    line-height: 1.3em;
}

body * {
    margin: 1em auto;
    max-width: var(--widthmain);
    box-sizing: border-box;
}

em {
    font-style: italic;
}

a, summary {
    color: var(--color-fg);
    text-decoration: none;
    text-decoration: underline;
    cursor: pointer;
}

a:not(.button):hover, summary:hover  {
    color: var(--color-2);
}

.button:hover, [type=submit]:hover {
    background-color: var(--color-2);
}

h3 {
    font-size: 1.3em;
    line-height: 1.4em;
	font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 1.5em;
    line-height: 1.4em;
    margin: 0;
}

h1 {
    font-size: 3em;
    font-weight: 200;
    line-height: 1.4em;
    margin: 0;
}

header {
    padding: 2em;
    line-height: 1em;
    background: transparent url(logo.png) bottom right no-repeat;
    background-size: contain;
}

header h1 {
    color: var(--color-1);
}

header h1 em {
    color: var(--color-2);
}

table {
    width: 100%;
    margin: 0;
}

tr, td {
    padding: 0.25em 0;
}

details > * {
    background-color: var(--color-dark1);
    border: 2px solid var(--color-dark1);
    border-radius: 4px;
    padding: 0.5em;
}

details > summary {
    border: none;
    background: none;
    padding: 0 0.5em;
}

details p {
    margin: 0;
    padding: 2px 0;
}

form table {
    margin-bottom: 0.5em;
}

form [type=text], form [type=password], form textarea {
    background: var(--color-light0);
    border: 2px solid var(--color-light0);
    border-radius: 4px;

    z-index: 1;
    margin: 0;
    margin-top: 0.5em;
    padding: 0.25em;
    color: var(--color-fg);
    width: 100%;
    font-family: monospace;
}

form [type=checkbox] {
    cursor: pointer;
}

form [type=submit], .button {
	display: inline-block;
	padding: 0.25em;
	margin: 0.25em;
	text-decoration: none;
	font-size: 14px;
    background: var(--color-1);
    border: 2px solid var(--color-dark1);
    border-radius: 4px;
    height: 2em;
    margin: 0;
    color: var(--color-fg);
    font-weight: bold;
    cursor: pointer;
    font-family: sans-serif;
}

form [type=submit], .right.button {
	float: right;
}

form .right [type=submit] {
    float: none;
}

form .right {
    text-align: right;
}

.errors p, .audio p {
    background: var(--color-1);
    padding: 0.5em;
    font-weight: bold;
    border: 2px var(--color-light2) solid;
    border-radius: 4px;
}

.audio p {
    background: var(--color-2);
}

.audio a {
    color: black;
}

.about div {
    overflow: hidden;
}

.about img {
    float: right;
    margin: 0;
    margin-left: 0.5em;
    height: 12em;
}

.about .author {
	padding: 0;
	margin: 0.3em 0;
	line-height: 1;
}

.jubels {
    border: 2px solid var(--color-dark1);
    border-radius: 4px;
}

.jubels tr td {
    background: var(--color-light0);
}

.jubels tr td:first-child {
    font-family: monospace;
}

.jubels tr:nth-child(odd) td {
    background: none;
}

.jubels tr:first-child td {
    background: var(--color-dark1);
    font-style: italic;
    font-family: inherit;
}

.jubels td {
    padding: 0.5em;
}

.jubels tr.yearflag {
    color: var(--color-2);
    font-weight: bold;
}

.jubels tr.todayflag {
    background: var(--color-2);
    color: black;
}

.jubels tr.yearflag.todayflag td {
    background: var(--color-dark0);
}

.events ul {
    font-family: monospace;
    margin: 0;
}

.events li {
    margin: 0;
    padding: 0;
}

a.delete:not(.button):not(:hover) {
    color: var(--color-4);
}

.delete.button:not(:hover) {
    background-color: var(--color-4);
}
